In [1]:
import pandas as pd
import numpy as np

In [2]:
names = pd.read_csv('names_dataset.csv')

In [6]:
names.head()

   index       name sex
0      0       Mary   F
1      1       Anna   F
2      2       Emma   F
3      3  Elizabeth   F
4      4     Minnie   F

In [11]:
df = names.values[:,1:]

In [15]:
df

array([['Mary', 'F'],
       ['Anna', 'F'],
       ['Emma', 'F'],
       ...,
       ['Ziyu', 'M'],
       ['Zykir', 'M'],
       ['Zyus', 'M']], dtype=object)

In [18]:
def feature_extractor(name):
    name = name.lower()
    return {
        'first1-letter': name[0],
        'first2-letter': name[0:2],
        'first3-letter': name[0:3],
        'last1-letter': name[-1],
        'last2-letter': name[-2:],
        'last3-letter': name[-3:]
    }

In [19]:
feature_extractor("Kapil")

{'first1-letter': 'k',
 'first2-letter': 'ka',
 'first3-letter': 'kap',
 'last1-letter': 'l',
 'last2-letter': 'il',
 'last3-letter': 'pil'}

In [20]:
features = np.vectorize(feature_extractor)
features(["Kapil","Kalra"])

array([{'last2-letter': 'il', 'first1-letter': 'k', 'last3-letter': 'pil', 'first2-letter': 'ka', 'first3-letter': 'kap', 'last1-letter': 'l'},
       {'last2-letter': 'ra', 'first1-letter': 'k', 'last3-letter': 'lra', 'first2-letter': 'ka', 'first3-letter': 'kal', 'last1-letter': 'a'}],
      dtype=object)